.logo {
    transform: translateX(33px);
}

.navbar {
    height: 75px;

    .myDropDown {
        height: 342px;
        width: 321px;

        transform: translateX(-32px);

        overflow-y: auto;
    }

    .c-dropdown__item {
        position: relative;

        &:hover {

            .c-dropdown__submenu {
                opacity: 1;

                transform: translate(-291px, 18px) rotateX(0);

                transition-timing-function: ease-out;
            }
            
        }

        .c-dropdown__submenu {
            background-color: #eeeeee;

            margin: 0;
            
            opacity: 0.25;

            width: 321px;
    
            position: absolute;

            transform: translate(-291px, 18px) rotateX(-90deg);  

            transform-origin: top center;

            transition: all 200ms ease-in;
            
            .final-price {
                background-color: #e5e5e5;

                width: 321px;
                height: 57.5px;

                transform: translateX(-32px);
            }

            .finish {
                background-color: #00bb16;

                width: 321px;
                height: 57.5px;

                transform: translateX(-32px);
            }

            // &-item {
            //     transform: translateX(-20px)
            // }
        }

    }

    .dots {
        list-style-type: none;
    }
    
    .links {
        transform: translateX(84px);
    }
    
    .lorem {
        text-decoration: none;
    
        color: #333333;
    }

    .icon {
        margin-right: 55px;

        height: 23px;

        color: black;
    }

}

@media (max-width: 661px) {
    .links {
        color: fr;
    }
}






