.logo {
    transform: translateX(33px);
}

.navbar {
    height: 75px;

    .dots {
        list-style-type: none;
    }
    
    .links {
        transform: translateX(84px);
    }
    
    .lorem {
        text-decoration: none;
    
        color: #333333;
    }

    .icon {
        margin-right: 55px;
    }
}





